[Unit]
Description=xvc_server
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/opt/xvc_server/xvc_server /dev/uio2 2542
Restart=on-failure
RestartSec=1
KillMode=control-group

[Install]
WantedBy=multi-user.target
